<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="ShipmentConnectionString" connectionString="Server=localhost;Database=Shipment;Integrated Security=true;"
      providerName="System.Data.ProviderName" />
    <add name="MidtermExam.Properties.Settings.ShipmentConnectionString"
      connectionString="Data Source=.;Initial Catalog=Shipment;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
